@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

::-webkit-scrollbar {
    overflow-y: scroll;
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    --webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #626a6c, #1a283d);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #dce7ea;
    color: #333;
}

.container {
    max-width: 780px;
    margin: 0 auto;
    padding: 16px;
}

h1, h2 {
    color: #000;
}

h6 {
    color: #82898ca4;
}

p {
    color: #555;
}

a {
    text-decoration: none;
}

.tag {
    display: inline-block;
    background-color: #747677;
    color: rgb(228, 239, 255);
    max-height: 32px;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}

img {
    border-radius: 50%;
}

.square {
    height: 128px;
}

.flex {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.gap {
    gap: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.address {
    font-size: 1.2rem;
}

.work-place {
    margin: 8px 24px;
}

.experience {
    border-bottom: 2px solid #878787;
    padding: 8px 0px;
}